.modal.share-request {
  @extend %blue-circle;
  background-position: 260% 35%;
  background-size: 80%;
  color: #fff;

  @include breakpoint(960) { padding: 30px 20px; }

  // text
  h1 {
    margin-top: 0;
    @include breakpoint(768) { font-size: 36px; }
  }

  // actions
  .actions {
    text-align: center;
    @include breakpoint(960) { text-align: right; }
  }

  .btn-social {
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: $demibold;
    font-size: 12px;
    padding-top: 1px;
    @include breakpoint(960) {
       margin: 30px 30px 0;
       + .btn-social { margin-top: 20px; }
     }
  }
}
