.hero.home {
  background: url('/assets/tmp_hero_home.jpg') center bottom no-repeat;
  background-size: cover;
  height: 400px;
  padding-bottom: 100px;

  @include breakpoint(600) { height: 600px; padding-bottom: 140px; }
  @include breakpoint(1100) { height: 770px; }

  .container { text-align: center; }

  h1 {
    color: #fff;
    font-weight: $demibold;
    font-size: 24px;
    @include breakpoint(600) { font-size: 40px; }
    @include breakpoint(960) { font-size: 56px; }
    @include breakpoint(1100) { font-size: 72px; }
  }
}
